<ng-template #content let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Search For Recipe</h4>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss()"></button>
    </div>
    <div class="modal-body overflow-auto" style="height: 80vh">
        <app-recipe-search (recipeSelected)="modal.close($event)"></app-recipe-search>
    </div>
    <div class="modal-footer"></div>
</ng-template>
<div>
    <div class="modal-header">
        <h4 class="modal-title">Meals Planned for {{ date.format('MM/DD/YYYY') }}</h4>
        <button type="button" class="btn-close" aria-label="Close" (click)="activeModal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body overflow-auto" style="max-height: 70vh; overflow-y: auto">
        <div class="row">
            <div class="col-sm-6 col-md-4 p-2 recipe-card" *ngFor="let meal of meal$ | async">
                <div class="card h-100">
                    <div class="card-header" [style.background]="meal.color">
                        <div class="recipe-card-header">{{ meal.name }}</div>
                    </div>
                    <div class="card-body">
                        <ul>
                            <li *ngFor="let recipe of getMealObs(meal) | async">
                                {{ recipe.name }}
                                <fa-icon [icon]="timesCircle" class="text-danger clickable" (click)="removeRecipe(meal, recipe)"></fa-icon>
                            </li>
                        </ul>
                    </div>
                    <div class="card-footer">
                        <div style="font-size: 0.85em" (click)="addRecipe(meal, content)" class="text-success">
                            <fa-icon [icon]="plusCircle"></fa-icon> Add <span *ngIf="recipe">Selected</span> Recipe
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button " class="btn btn-outline-primary" (click)="activeModal.close('close')">Close</button>
    </div>
</div>