<app-calendar
    [startDate]="startDate"
    (startDateUpdated)="startDateUpdated.emit($event)"
    (endDateUpdated)="endDateUpdated.emit($event)">
    <ng-template let-date #cell>
        <ng-container *ngIf="meals$ | async as meals">
            <div
                (click)="editMealPlan(date.date)"
                [dndDropzone]="[]"
                (dndDrop)="onDrop(date.date, $event)"
                style="height: 100%; width: 100%"
                [innerHtml]="getCellHtml(meals, date.date)"></div>
        </ng-container>
    </ng-template>
</app-calendar>
