# JSON web token (JWT) secret: this keeps our app's user authentication secure
# This secret should be a random 20-ish character string
JWT_SECRET ='20-CHARACTERS-OR-SOMETHING'
JWT_ALGO='RS256'

# Port
PORT=3000

# Debug
LOG_LEVEL='debug'
NODE_ENV='development'