<div class="d-flex h-100">
    <div class="p-3 w-25 h-100 mh-100 overflow-auto d-none d-md-block">
        <div>
            <label class="sr-only" for="inlineFormInputGroup">Search</label>
            <div class="input-group mb-2">
                <div class="input-group-prepend">
                    <div class="input-group-text">
                        <fa-icon [icon]="search" size="lg"></fa-icon>
                    </div>
                </div>
                <input type="text" class="form-control" [formControl]="recipeSearch" placeholder="Search..." data-cy="recipe-search" />
            </div>
        </div>
        <div class="list-group">
            <div class="list-group-item" *ngFor="let recipe of activeRecipes" data-cy="recipe-data" [dndDraggable]="stringify(recipe)">
                <div class="mb-1">{{ recipe.name }}</div>
                <small>Donec id elit non mi porta.</small>
            </div>
        </div>
    </div>
    <div class="p-3 w-100 h-100">
        <app-meal-plan-calendar></app-meal-plan-calendar>
    </div>
</div>